@using BioEngine.BRC.Core.Entities.Blocks
@using InputType = BlazorStrap.InputType
<BSFormRow>
        <BSFormGroup Class="col-md-12">
            <BSLabel>Ссылка</BSLabel>
            <BSInput InputType="InputType.Url" Id="title" @bind-Value="@Block.Data.Src" ValidateOnChange="true"/>
            <BSFormFeedback For="@(() => Block.Data.Src)"/>
        </BSFormGroup>
    </BSFormRow>
@if (!string.IsNullOrEmpty(Block.Data.Src))
{
    <div style="text-align: center">
        <iframe frameborder="0"
                allowfullscreen=""
                width="560" height="315"
                src="@Block.Data.Src">
        </iframe>
    </div>
}

@code
{
    [Parameter]
    public IframeBlock Block { get; set; }
}
