@using BioEngine.BRC.Core.Entities.Blocks
<div>
    <CKEEditor @bind-Value="Block.Data.Text"></CKEEditor>
    <ValidationMessage For="@(() => Block.Data.Text)"></ValidationMessage>
</div>
<hr/>
<div>
    <RadzenTextBox @bind-Value="Block.Data.Author" Placeholder="Автор" Style="width: 100%"/>
    <ValidationMessage For="@(() => Block.Data.Author)"></ValidationMessage>
    <RadzenTextBox @bind-Value="Block.Data.Link" Placeholder="Ссылка" Style="width: 100%"/>
    <ValidationMessage For="@(() => Block.Data.Link)"></ValidationMessage>
</div>

@code
{
    [Parameter]
    public QuoteBlock Block { get; set; }
}
