@using System.ComponentModel.DataAnnotations
@inject DialogService DialogService

<RadzenCard Style="padding: 20px;">
    <div class="form-group mb-4">
        <div class="form-row">
            <div class="col-3">
                <RadzenLabel Text="Название папки" for="folderName"></RadzenLabel>
                <RadzenTextBox id="folderName" @bind-Value="FolderName"></RadzenTextBox>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <RadzenButton Text="Создать" Click="() => DialogService.Close(FolderName)" Style="width: 150px"/>
            <RadzenButton Text="Отмена" Click="() => DialogService.Close()" ButtonStyle="ButtonStyle.Secondary" Style=" width: 150px"/>
        </div>
    </div>
</RadzenCard>

@code {

    [Required]
    public string FolderName { get; set; }

}
